/* write your override styles here */
background: blue url(../images/sketch.jpg) no-repeat center;



box-shadow: 15px 15px 47px lime, -15px -15px 47px aqua;

border: 15px solid yellow;

border-bottom: 50px solid blue;





margin : 50px,auto














































































